{% extends "rest_framework/login_base.html" %}
{% load i18n admin_static %}
{% block bootstrap_theme %}
    <link rel="stylesheet" href="http://bootswatch.com/lumen/bootstrap.min.css" type="text/css">
{% endblock %}



{% block body %}
    <body class="container">
  <div class="container-fluid" style="margin-top: 30px">
    <div class="row-fluid">
      <div class="well" style="width: 320px; margin-left: auto; margin-right: auto">
        <div class="row-fluid">
          <div>
            {% block branding %}<h5 style="margin: 0 0 20px;">Welcome. Please login.</h5>{% endblock %}
          </div>
        </div> <!-- /row fluid -->
        {% block content %}
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
        {% endblock content %}
        <div class="row-fluid">
          <div>
            <form action="{% url 'login' %}" role="form" method="post">
              {% csrf_token %}
              <input type="hidden" name="next" value="/" />

              <div id="div_id_username" class="clearfix control-group {% if form.username.errors %}error{% endif %}">
                <div class="form-group">
                  <input type="text" name="username" maxlength="100"
                  autocapitalize="off" autocorrect="off"class="form-control
                  textinput textInput" placeholder="Username" id="id_username" required autofocus
                  {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
                  {% if form.username.errors %}
                    <p class="text-error">
                      {{ form.username.errors|striptags }}
                    </p>
                  {% endif %}
                </div>
              </div>

              <div id="div_id_password" class="clearfix control-group
              {% if form.password.errors %}error{% endif %}">
                <div class="form-group">
                  <input type="password" name="password" maxlength="100"
                  autocapitalize="off" autocorrect="off" class="form-control
                  textinput textInput" placeholder="Password" id="id_password"
                  required>
                  {% if form.password.errors %}
                    <p class="text-error">
                      {{ form.password.errors|striptags }}
                    </p>
                  {% endif %}
                </div>
              </div>

        <div id="div_id_forgot_password" class="clearfix control-group">
            <div class="form-group">
                <a href="/reset_password/">Forgot Password?</a>
            </div>
        </div>
              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                  <div class="well well-small text-error" style="border: none">{{ error }}</div>
                {% endfor %}
              {% endif %}

              <div class="form-actions-no-box">
                <input type="submit" name="submit" value="Login" class="btn btn-primary form-control" id="submit-id-submit">
              </div>
            </form>
          </div>
        </div><!-- /.row-fluid -->
      </div><!--/.well-->
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</body>
    {# {{ block.super }} #}
{% endblock body %}