#employeeSearch {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    background-image: url("btn-search.png"); /*add image to search bar*/
    width: 30%;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#employeeTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#employeeTable th, #employeeTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#employeeTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#employeeTable tr.header, #employeeTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

img.companyLogo {
    width: 20%;
}
